.show-password {
  margin-left: 90%;
  
}
.show-password:hover {
  cursor: pointer;

}
.imgshowpassword {
  width: 7%;
}

.loginn {
  background-color: #f0f2f5;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  border-radius: 7px;
  height: 488px;
}
.comtainerlogin {
  height: 490px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9px;
  background-color: #f0f2f5;
  max-width: 250px;
  background-image: linear-gradient( 135deg, #fcad31 10%, #f44542 100%);
    padding: 1px;
}

.text-coler-login {
  border-radius: 12px;
  font-size: 120%;
  text-align: justify;
  font-style: normal;
  color: #000000;
  padding: 1%;
  text-decoration-line: underline;

}

/* banned-alert  */

/* .banned-alert {
  background-color: rgb(198, 70, 70);
  width: 40%;

  margin-left: auto;
  margin-right: auto;

} */
.boxbannedalert {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #eee;
}
.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #ecf2f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.avatar-lg {
  height: 100px;
  width: 100px;
}

.textchangepassword {
  text-align: left;

  margin-top: 7%;
}

.btn-hover {
  width: 130px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 45px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-2 {
  background-image: linear-gradient( 135deg, #fcad31 10%, #f44542 100%);
}










/*  oopse secutiy */



.msg {

  margin-top: 30%;
  
  
  
  
  
  
  
  
  
  }
  


.msgalert {

margin-top: 40%;









}
/*   login */

.navebarecustom {
  background-image: linear-gradient( 135deg, #fcad31 10%, #f44542 100%);
}








/* :::: */



.OnlineStore {
margin-left: 6%;
  width: 100px;
color: #000000;

margin-bottom: 10%;
text-decoration-line: underline

;


background-color: #fcad31;
}






/* :::::::: */


.bdd{

/* background-image: linear-gradient( 135deg, #ff9d0057 10%, #7142f446 100%); */
}
  

  .img1 {
  


    width: 20%;
    }
    .img2 {
  
      width: 110px;

      }
      .img3 {
  
        width: 140px;
  
        }


        .img4 {
  
          width: 20%;
    margin-left:60%;
          }
  



          .imglogo {
  
            width: 25%;
margin-left: 1%;
            }
    





















        .imgbox {
  
          width: 100%;
          display: flex;
          justify-content: center;

    
          }
          .tex {
  
         font-size: xx-small;
         display: flex;
         justify-content: center;
         margin-top: 5%;
            }
            