.containenavebarrclient {
  position: relative;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: auto;
  margin-top: 1%;
  background-color:  #FFFAFA;
  border-radius: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.navebarreiconclinet {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: 90%;
  position: sticky;
  top: 20px;
  margin-bottom: 1%;
}

.bi {
  color: rgb(0, 0, 0);
}

.iconnaveclient{
list-style: none;
width:auto ;
display: flex;
margin-left: auto;
margin-right: auto;
margin-top: 1%;
top: 20px;
margin-bottom: 1%;
}
